@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><button type="button" class="btn btn-primary btn-lg" id="btnGetAll">Get All Client-Side</button></p>
    <p>@Html.ActionLink("Get All Server-Side", "Users", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<h2>Index</h2>

<table class="table" id="tableGetAll"></table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnGetAll').click(function () {
                var table = $('#tableGetAll');
                table.empty();
                table.append(
                    $('<thead>').append(
                        $('<tr>').append(
                            $('<td>').text('Username'),
                            $('<td>').text('Password'),
                            $('<td>').text('Email'),
                            $('<td>').text('Id')
                        )
                    )
                );
                $.getJSON("http://localhost:55287/api/Users")
                    .done(function (data) {
                        var tbody = $('<tbody>');
                        table.append(tbody);
                        $.each(data, function (i, item) {
                            tbody.append(
                                $('<tr>').append(
                                    $('<td>').text(item.username),
                                    $('<td>').text(item.password),
                                    $('<td>').text(item.email),
                                    $('<td>').text(item.id)
                                ));
                        });
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                        console.log(errorThrown);
                    });
            });
        });
    </script>
}