@model IEnumerable<Bookmarker.MVC.Models.AccountViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsersList</title>
</head>
<body>
    @foreach (var item in Model) {
        @Html.Partial("_UserCard", item)
    }
</body>
</html>
