@model IEnumerable<Bookmarker.MVC.Models.AccountViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsersList</title>
</head>
<body>
    <br />
    @{
        var en = Model.GetEnumerator();
        while(en.MoveNext())
        {
            <div class="row" style="margin-bottom: 30px;">
                @Html.Partial("_UserCard", en.Current)
                @if(en.MoveNext())
                {
                    @Html.Partial("_UserCard", en.Current);
                }
                @if(en.MoveNext())
                {
                    @Html.Partial("_UserCard", en.Current);
                }
            </div>
        }
     }
</body>
</html>
