@model IEnumerable<Bookmarker.MVC.Models.AccountViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User List</title>
</head>
<body>
    @{
        foreach (var user in Model)
        {
            @Html.Partial("_User", user)
        }
     }
</body>
</html>
