@model IEnumerable<Bookmarker.MVC.Models.CollectionViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Collections</title>
</head>
<body>
    <div class="search-bar" style="position: fixed; background-color: #343a40; color: white; z-index: 100;">
        @using (Html.BeginForm("PublicCollections", "Collections", FormMethod.Get))
        {
            @Html.TextBox("search")

            List<object> options = new List<object>();
            options.Add(new { name = "Name", value = "name:asc" });
            options.Add(new { name = "Rating", value = "rating:desc" });

            <span style="margin-left: 5px;"/>

            @Html.DropDownList("sort", new SelectList(options, "value", "name"))

            <input type="submit" value="search all" class="btn btn-dark"/>
        }
    </div>
    <br />
    <br />
    <br />
    @Html.Partial("_CollectionCards", Model)
</body>
</html>
