@model IEnumerable<Bookmarker.MVC.Models.CollectionViewModel>


<div class="search-bar" style="position: fixed; background-color: #343a40; color: white; z-index: 100;">
    @using (Html.BeginForm("PublicCollections", "Collections", FormMethod.Get))
    {
        @Html.Partial("_CollectionSearch")
    }
</div>
<br />
<br />
<br />
@Html.Partial("_CollectionCards", Model)
