@model IEnumerable<Bookmarker.MVC.Models.CollectionViewModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Collections</title>
</head>
<body>
    @Html.Partial("_CollectionCards", Model)
</body>
</html>
