@model IEnumerable<Bookmarker.MVC.Models.BookmarkViewModel>

<div>
    @{
        var en = Model.GetEnumerator();
        int i = 0;
        while(en.MoveNext() && i < 5)
        {
            <div class="row">
                @Html.Partial("_Bookmark", en.Current)
            </div>
            ++i;
        }
     }
</div>
