@{ 
    @Html.TextBox("search")

    List<object> options = new List<object>
    ();
    options.Add(new { name = "Name", value = "name:asc" });
    //options.Add(new { name = "Rating", value = "rating:desc" });
    options.Add(new { name = "Size", value = "bookmarks:desc" });
    options.Add(new { name = "Created", value = "created:desc"});
    options.Add(new { name = "Modified", value = "modified:desc"});


    @*<span style="margin-left: 5px;">
    </span>*@
    @Html.DropDownList("sort", new SelectList(options, "value", "name"))

    <input type="submit" value="search" class="btn btn-dark" />
}
