@model Bookmarker.MVC.Models.CollectionViewModel

<div class="col-sm-4">
    <div class="card">
        <div class="card-header">
            <h5>@Model.Name</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Description: @Model.Description</p>
            <p class="card-text">Created: @Model.Created</p>
        </div>
        <div class="card-footer">
            <div class="card-text">
                <i class="fa fa-thumbs-up fa-lg"></i> @Model.Rating
                @* TODO: Add Links to edit and delete icons *@
                <a href=""><i class="fa fa-edit fa-lg"></i></a>
                <a href=""><i class="fa fa-trash-o fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>