<div class="panel-body row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4 panel">
        <footer padding: 10px;>
            <p style="text-align: center; margin-bottom: 0;">
                @*&copy; @DateTime.Now.Year - Bookmarker*@
            </p>
        </footer>
    </div>
    <div class="col-lg-4">
    </div>
</div>
